@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; }
.btn-purp {
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear; }

* a {
  text-decoration: none !important;
  color: black; }

.btn-purp {
  padding: 15px 40px;
  background: linear-gradient(265.97deg, #b777be -9.18%, #88488f 103.05%);
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  color: #fff;
  cursor: pointer;
  border: 2px solid #b777be;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-purp:hover {
    color: #fff;
    background: linear-gradient(265.97deg, #b777be -30%, #88488f 80%); }
  .btn-purp svg {
    margin-left: 15px; }
  .btn-purp:focus {
    outline: none; }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto; }

.main-title {
  font-size: 48px;
  font-weight: 500;
  font-family: "CG"; }

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.header-nav ul {
  list-style: none;
  margin: 5px;
  font-family: 'Montserrat';
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around; }

h5 {
  display: inline-block; }

.header-location-info {
  float: right;
  margin-left: 10px; }

.diamonds1 {
  height: 500px;
  background-image: url("../images/image3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative; }
  .diamonds1-text {
    position: absolute;
    font-family: 'CG';
    font-weight: 600;
    font-size: 60px;
    line-height: 72.66px;
    margin-left: 310px;
    margin-top: 103px;
    letter-spacing: 2px; }
  .diamonds1-text-second {
    position: absolute;
    font-family: 'CG';
    font-weight: 500;
    font-size: 46px;
    line-height: 55.71px;
    margin-left: 310px;
    margin-top: 166px;
    letter-spacing: 2px; }

/*# sourceMappingURL=main.css.map */
